/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */
header {
    background-color: lightblue;
    padding: 10px;
}

h2 {
    font-weight: bold;
    margin-bottom: 0px;
}


/* TASK LIST */
.todo-list {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: lightblue
}

.todo-list li {
    border-bottom: 2px solid white;
    margin: 20px;
}

.icons i {
    margin-right: 5px;
}


/* INPUT TASK */
.input-task {
    display: flex;
}

.input-task input {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-right: 10px;
}


/* STYLE */
p {
    cursor: pointer;
    margin-bottom: 0px;
}

.strikethrough {
    text-decoration: line-through;
}


/* COLOR */
.red {
    color: red;
}

.green {
    color: green;
}

.black {
    color: black;
}