/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General */
body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Header */
header {
    display: flex;
    align-items: center;
    background-color: aqua;
    padding: 10px;
}

h2 {
    font-weight: bold;
    margin-bottom: 0px;
}


/* TASK List */
.todo-list {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: aqua;
}

.todo-list li {
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.icons i {
    margin-right: 5px;
}


/* Input TASK */
.input-task {
    display: flex;
}

.input-task input {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-right: 10px;
}

.input-task button {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
}


i {
    padding: 8px 8px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.5); 
}


.red {
    color: red;
}

.green {
    color: green;
}

.strikethrough {
    text-decoration: line-through;
}